@import "~styles/common";

:root {
  --font-family-body: "GT America", sans-serif;
  --font-family-headline: "Nichrome", sans-serif;

  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-medium: 21px;
  --font-size-large: 28px;
  --font-size-x-large: 32px;
  --font-size-xx-large: 48px;
  --font-size-xxx-large: 64px;
  --font-size-xxxx-large: 80px;

  --font-weight-body: 200;
  --font-weight-headline: 900;

  @include tablet {
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --font-size-x-large: 42px;
    --font-size-xx-large: 56px;
    --font-size-xxx-large: 64px;
    --font-size-xxxx-large: 96px;
  }

  @include desktop {
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --font-size-x-large: 42px;
    --font-size-xx-large: 56px;
    --font-size-xxx-large: 72px;
    --font-size-xxxx-large: 110px;
  }
}

@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Extended-Light.woff") format("woff"),
    url("../fonts/GT-America-Extended-Light.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Nichrome";
  src: url("../fonts/Nichrome0.5-Ultra.woff") format("woff"),
    url("../fonts/Nichrome0.5-Ultra.woff2") format("woff2");
  font-weight: bold;
  font-display: block;
}
