@import "~styles/common";

.page {
  position: relative;

  height: 100vh;
  display: flex;

  flex-direction: column;
}

.section {
  margin: 0 auto;

  @include tablet {
    max-width: 1280px;
    width: 80%;
  }
}

.content {
  padding: var(--size-unit-8) var(--size-unit-6) var(--size-unit-10);

  flex-grow: 1;

  overflow: auto;

  @include tablet {
    padding-top: 10%;
    padding-bottom: 60px;
  }
}

.header {
  display: flex;

  padding: 0 var(--size-unit-4);

  .title {
    flex-grow: 0;
    flex-shrink: 0;

    flex-basis: 50%;

    font-weight: var(--font-weight-body);

    text-transform: uppercase;

    margin: 0;

    font-size: var(--font-size-medium);
  }

  .middle {
    display: none;

    flex-grow: 1;

    padding: 0 var(--size-unit-4);
  }

  .filter {
    flex-grow: 0;
    flex-shrink: 0;

    flex-basis: 50%;
  }

  @include tablet {
    .title,
    .filter {
      flex-basis: auto;
    }

    .middle {
      display: block;
    }
  }
}

.selectedTitle {
  font-size: var(--font-size-medium);

  font-weight: var(--font-weight-body);

  text-transform: uppercase;

  color: var(--color-accent);
}

.filter input {
  -webkit-appearance: none;
  border-radius: 0;

  background-color: transparent;

  border: 0;

  font-family: inherit;
  font-size: var(--font-size-medium);

  text-align: right;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  width: 100%;

  outline: 0;

  color: inherit;

  &::placeholder {
    color: var(--color-text-light);
  }

  &.hasText {
    border-bottom: 1px solid var(--color-bg-light);
  }
}

.pool {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;

  margin-top: var(--size-unit-6);
}

.item {
  margin: var(--size-unit-2) var(--size-unit-4);

  text-decoration: none;
  color: inherit;

  cursor: pointer;

  &.alt {
    color: var(--color-accent);
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  span {
    position: relative;

    display: block;

    font-family: var(--font-family-headline);
    font-size: var(--font-size-x-large);

    text-align: center;

    line-height: 1;

    &::before {
      position: absolute;

      top: calc(50% + var(--size-unit-1));
      left: calc(var(--size-unit-2) * -1);

      width: calc(100% + var(--size-unit-4));
      height: 2px;

      background-color: var(--color-accent);

      content: "";

      transform: scaleX(0);
      transform-origin: top left;

      transition: {
        duration: 0.35s;
        timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        property: transform;
      }
    }

    @include tablet {
      font-size: var(--font-size-xx-large);
    }
  }

  input {
    display: none;
  }

  input:checked ~ span::before {
    transform: scaleX(1);
  }
}

.footer {
  position: relative;
  width: 100%;

  padding: var(--size-unit-10) 0 var(--size-unit-10);

  flex-grow: 0;
  flex-shrink: 0;

  outline: 1px solid red;

  background-color: white;

  &::before {
    content: "";

    position: absolute;

    bottom: 100%;
    left: 0;

    width: 100%;
    height: 60px;

    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));

    pointer-events: none;
  }
}
