@import "~styles/common";

.page {
  position: relative;

  width: 100vw;
  height: 100vh;

  @include tablet {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

.grid {
  display: grid;

  grid-template-areas:
    "one"
    "two"
    "three";

  height: 100%;

  padding: var(--size-unit-4);

  @include tablet {
    grid-template-areas:
      "one two"
      "three three";
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-unit-20);

    margin: 0 auto;

    height: auto;
  }
}

.title {
  font-family: var(--font-family-headline);
  text-transform: uppercase;

  font-size: 22vw;
  line-height: 1;

  overflow: hidden;

  &:nth-child(1) {
    grid-area: one;

    align-self: flex-start;
  }

  &:nth-child(2) {
    grid-area: two;

    align-self: center;
    justify-self: flex-end;
  }

  &:nth-child(3) {
    grid-area: three;

    align-self: flex-end;
  }

  span {
    display: block;
  }

  @include tablet {
    font-size: 10vw;
    text-align: center;
  }
}
