@import "~styles/common";

.page {
  position: relative;

  z-index: 2;

  width: 100vw;
  height: 100vh;

  overflow: auto;

  -webkit-overflow-scrolling: touch;

  background-color: white;

  transform-origin: top center;

  transition: {
    duration: 0.35s;
    property: transform, border-radius;
  }
}

.credits .page {
  transform: scale(var(--scale-factor)) translate3d(0, -80vh, 0);
  border-radius: 20px;

  @include tablet {
    transform: scale(var(--scale-factor)) translate3d(0, -200px, 0);
  }
}

.outer {
  position: relative;

  background-color: var(--color-accent);

  height: 100vh;

  overflow: hidden;
}

.footer {
  position: absolute;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: var(--size-unit-10);

  bottom: 0;
  left: 0;

  width: 100%;
  height: calc(80vh + var(--size-unit-4));

  padding: var(--size-unit-4) var(--size-unit-10);

  p {
    margin: 0 0 1em;

    text-transform: uppercase;

    &:last-of-type {
      margin: 0;
    }
  }

  a {
    color: var(--color-text);
  }

  .left {
    font-size: var(--font-size-large);
  }

  .right {
    font-size: var(--font-size-small);
    padding-bottom: var(--size-unit-10);

    align-self: flex-end;
  }

  @include tablet {
    height: 200px;

    grid-template-columns: 1fr 1fr;
    gap: 10vw;

    .left {
      font-size: var(--font-size-medium);
    }

    .right {
      text-align: right;

      padding-bottom: 0;
    }
  }
}

.creditsBtn {
  position: fixed;

  z-index: 2;

  top: 50%;
  left: var(--size-unit-4);

  -webkit-appearance: none;

  padding: 0;
  margin: 0;

  text-transform: uppercase;
  color: inherit;

  background-color: transparent;
  border: 0;

  outline: 0;

  font-size: var(--font-size-small);
  cursor: pointer;

  transform: rotate(-90deg) translate3d(-50%, 0%, 0);
  transform-origin: top left;

  transition: {
    duration: 0.25s;
    property: left;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  .credits & {
    left: var(--size-unit-2);
  }
}
