.action {
  display: flex;

  flex-direction: column;

  align-items: center;
}

.btn {
  padding: 0;
  margin: 0 0 var(--size-unit-3);

  border: 0;
  background-color: transparent;
  outline: 0;

  -webkit-appearance: none;

  font-size: var(--font-size-medium);
  font-family: inherit;

  color: inherit;

  text-transform: uppercase;

  &[disabled] {
    opacity: 0.2;

    cursor: not-allowed;
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    color: var(--color-text-light);

    cursor: pointer;
  }

  &.sub {
    font-size: var(--font-size-small);
    margin-bottom: 0;
  }
}
