@import "~styles/common";

.wrapper {
  position: relative;

  width: 100%;
}

.tip {
  position: static;

  display: block;

  width: auto;

  white-space: pre;

  color: var(--color-accent);

  padding: 4px 2px;
  margin-top: 0.5ch;

  background-color: white;

  font-size: var(--font-size-small);

  pointer-events: none;

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }

  @include tablet {
    position: absolute;

    bottom: calc(100% + var(--size-unit-2));
    left: 50%;

    border: 1px solid var(--color-accent);
    border-radius: 20px;

    padding: 10px 16px;
    margin-top: 0;

    transform: translate3d(-50%, 10px, 0);
    opacity: 0;

    transition: {
      duration: 0.25s;
      property: opacity, transform;
    }

    &:before,
    &:after {
      display: none;
    }

    .display & {
      opacity: 1;

      transform: translate3d(-50%, 0, 0);
    }
  }
}
